html {
    margin: 10px;
    background-color: rgb(190, 209, 209);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#title {
    text-align: center;
    font-size: 2rem;
    margin: 5px 5px;
    color: rgb(26, 24, 24);
}

.dish-img {
    height: auto;
    width: 400px;
    border: 1px solid rgb(12, 194, 106)(0, 255, 115);

}